/* Paleta de colores
#2A1E16
#4C3F36
#6F6056
#918076
#B3A196
*/

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/exo2/v21/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v20/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Ocultar los banners y navbars de escritorio y móvil */
/* (Se activará cada uno dinámicamente) */
.banner-desktop,
.banner-mobile,
.navbar-desktop,
.navbar-mobile {
    display: none;
}

/* Configuración global */
html {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #4C3F36;
    margin: 0;
    padding: 0;
}

/* Títulos de la sección principal */
h1 {
    width: 80%;
    font-size: 20px;
    font-family: 'Audiowide';
    font-weight: 100;
    background-image: linear-gradient(to right, #6F6056, #6F6056, rgba(0,0,0,0));
    border-left: 5px solid #4C3F36;
    padding: 0.2em;
}

/* Títulos de la barra lateral */
h2 {
    width: 80%;
    font-size: 20px;
    font-family: 'Audiowide';
    font-weight: 100;
    background-image: linear-gradient(to right, #918076, #918076, rgba(0,0,0,0));
    border-left: 5px solid #B3A196;
    padding: 0.2em;
}

/* Configurar banner y navbar para ordenadores y pantallas grandes */
@media screen and (min-width: 860px) {
    
    img.banner-desktop {
        display: block;
        height: 100px;
        float: left;
        margin-left: 20px
    }
    
    ul.navbar-desktop {
        display: block;
        list-style-type: none;
        margin-right: 1em;
        margin-top: 24px; /* Navbar centrado mediante offset desde arriba. No es el mejor método pero funciona. */
        padding: 0px;
        float: right;
    }
}

/* Configurar banner y navbar para móviles */
@media screen and (max-width: 859px) {
    
    img.banner-mobile {
        display: block;
        height: 120px;
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }
    
    ul.navbar-mobile {
        display: block;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        float: right;
        width: 100%;
    }
}

/* configuración de la cabecera */
header {
    background-image: url(images/fondobanner.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    justify-content: center;
    display: flex;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    animation-name: navhoverret;
    animation-duration: 0.3s;
}

li a:hover {
    border: 2px solid #FFFFFF;
    animation-name: navhover;
    animation-duration: 0.3s;
    transform: rotate(5deg);
}

@keyframes navhover {
    from {border: 2px solid rgba(0,0,0,0); transform: rotate(0deg);}
    to {border: 2px solid #FFFFFF; transform: rotate(5deg);}
}

@keyframes navhoverret {
    from {border: 2px solid #FFFFFF; transform: rotate(5deg);}
    to {border: 2px solid rgba(0,0,0,0);}
}

ul p {
    margin-left: 0.7em;
    margin-right: 0.7em;
    color: #1C2C40;
}

main {
    width: 65%;
    box-sizing: border-box;
    background-color: #2A1E16;
    color: white;
    height: auto;
    padding: 1em;
    float: left;
}

sidebar {
    width: 35%;
    box-sizing: border-box;
    padding: 1em;
    float: right;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #6E6156;
    text-align: center;
    padding: 0.5em;
    float: left;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(#6F6056, #4C3F36);
    border: 2px solid rgba(0,0,0,0);
    color: #FFFFFF;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    animation-name: btnhoverret;
    animation-duration: 0.3s;
}

a.btn:hover {
    border: 2px solid #FFFFFF;
    margin-left: 10px;
    animation-name: btnhover;
    animation-duration: 0.3s;
}

@keyframes btnhover {
    from {border: 2px solid rgba(0,0,0,0); margin-left: 0px;}
    to {border: 2px solid #FFFFFF; margin-left: 10px;}
}

@keyframes btnhoverret {
    from {border: 2px solid #FFFFFF; margin-left: 10px;}
    to {border: 2px solid rgba(0,0,0,0); margin-left: 0px;}
}

/* Método responsivo para dispositivos móviles */

@media only screen and (max-width: 859px) {
    
    header {
        display: block;
        background-image: url(images/fondobanner.jpg);
        background-size: 120% auto;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
    }
    
    li {
        float: none;
    }
    
    main {
        width: 100%;
    }
    
    sidebar {
        width: 100%;
    }
    
    img.social {
        width: 70%;
    }
}